@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #F8F8F2;
    --dark: #282A36;
}

body {
    font-family: "Noto sans", sans-serif;
    background-color: var(--dark);
}

.navbar {
    position: sticky;
    top: 0;
    padding: 1% 7% 5% 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    background-color: var(--main-background);
    
}

.navbar a {
    margin-top: 40px;
    opacity: 0.8;
    text-decoration: none;
    height: auto;
    
}


.navbar > a:hover {
    opacity: 1;
}

a:link, a:visited {
    color: var(--dark);
}

#logo-navbar {
    margin-top: 0;
}

.logo {
    height: 5em;
}