@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: #F8F8F2;
    --dark: #282A36;
}

body {
    font-family: "Noto sans", sans-serif;
    background-color: var(--dark);
}

.navbar {
    position: sticky;
    top: 0;
    padding: 1% 6% 5% 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    background-color: var(--main-background);
    z-index: 2;
    
}

.navbar a {
    margin-top: 20px;
    opacity: 0.8;
    text-decoration: none;
    height: auto;
    
}


.navbar > a:hover {
    opacity: 1;
}

a:link, a:visited {
    color: var(--dark);
}

#logo-navbar {
    margin-top: 0;
}

.logo {
    height: 3.8em;
}

/* Carousel */

.carousel {
    margin: auto;
    /* width: 50%; */
}

.carousel-imgs {
    padding-top: 5%;
    width: 650px;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* overflow: hidden; */
    
}

.carousel-imgs img {
    width: 600px;
    height: 100%;
    border: 5px solid black;
    object-fit: cover;
    
}